<%= link_to "新規ユーザー登録", new_user_registration_path %>
<%= link_to "ログイン", new_user_session_path %>
<%= link_to "子どもの登録", new_child_path %>
<%= link_to ""%>
  <div>
    <% @children.each do |child| %>
      <%= child.name %>
    <% end %>
  </div>