<<<<<<< Updated upstream
<%= link_to "新規ユーザー登録", new_user_registration_path %>
<%= link_to "ログイン", new_user_session_path %>
<%= link_to "子どもの登録", new_child_path %>
<%= link_to ""%>
  <div>
    <% @children.each do |child| %>
      <%= child.name %>
    <% end %>
  </div>
=======
<div class="header">
  <div class="header-left">Baby app</div>
  <div class="header-right">
    <% if user_signed_in? %>
      <ul class="header-list">
        <li><%= link_to current_user.name %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete%></li>
      </ul>
    <% else %>
      <ul class="header-list">
        <li><%= link_to "新規ユーザー登録", new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
      </ul>
    <% end %>
  </div>
</div>

<div class="main">
  <div class="main-children">
      <div class="register-child">
        <%= link_to "子どもの登録", new_child_path, class: "child-btn" %>
      </div>
      <div class="children-index">
        <% @children.each do |child| %>
          <div class="child-information">
            <%= child.name %>
            <%= image_tag child.image.variant(resize: '150x150')%>
          </div>
        <% end %>
      </div>
  </div>

  <div class="main-diary">
    日記がきます
  </div>
</div>


<div class="footer">
  baby is treasure ...
</div>
>>>>>>> Stashed changes
