<div class="child-show">

  <div class="child-information">
    <div class="name">
      <%= @child.name %>
    </div>
    <div class="image-show">
      <%= image_tag @child.image %>
    </div>
    <div class="image-show-responsive">
      <%= image_tag @child.image.variant(resize: "250x250") %>
    </div>
    <div class="birthday">
      <%= @child.birthday.strftime('%Y年%m月%d日') %>
    </div>
    <div class="gender">
      <%= @child.gender.name %>
    </div>
  </div>
<% breadcrumb :children %>
  <div class="child-medical">
    <div class="register-child">
     <%= link_to "通院登録", new_child_medical_path(@child), class: "child-btn" %>
    </div>
    <div class="medical-title">これまでの通院</div>
      <% @medicals.each do |medical| %>
        <div class="medical-date">
          <%= link_to child_medical_path(@child, medical) do %>
            <%= medical.day %> <%= medical.name.name%> <%= medical.hospital %>
          <% end %>
        </div>
      <% end %>
  </div>
</div>
