<div class="devise-main">
   <h1 class="login-title">新規登録</h1>

  <%= form_with model: @user, url: user_registration_path, class: "form-main", local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="form-detail">
  <div class="field">
    <%= f.label :名前 %><br />
    <%= f.email_field :name, autofocus: true, autocomplete: "name", class: "login-box" %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autocomplete: "email", class: "login-box" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "login-box" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（確認用）%><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "login-box" %>
  </div>

  <div class="field">
    <%= f.label :住所%><br />
    <%= f.password_field :adress, autocomplete: "new-password", class: "login-box" %>
    <%= f.text_field :city, class: "login-box"%>
    <%= f.text_field :house_number ,class: "login-box"%>
  </div>

  <div class="actions">
    <%= f.submit "新規登録", class: "submit-btn" %>
  </div>
  <% end %>
<div  class="devise-links">
<%= render "devise/shared/links" %>
</div>
</div>
</div>