<div class="devise-main">
   <h1 class="login-title">ログイン画面</h1>
      <div class="form-detail">
        <%= form_with model: @user, url: user_session_path, class: "form-main", local: true do |f| %>
  
          <div class="field">
            <%= f.label :メールアドレス %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "login-box" %>
          </div>

          <div class="field">
            <%= f.label :パスワード %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "login-box" %>
          </div>

          <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
          <% end %>

          <div class="actions">
            <%= f.submit "ログイン", class: "submit-btn" %>
          </div>
      <% end %>

      <div  class="devise-links">
        <%= render "devise/shared/links"%>
      </div>

      <div  class="devise-links">
        <%= link_to "ホームへ", root_path %>
      </div>
  </div>
</div>
