<!DOCTYPE html>
<html>
  <head>
    <title>BabyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <%= render "layouts/header" %>
     <div class="menu-box" id="menu_box">
     <% if user_signed_in? %>
      <ul class="header-list-box">
        <li><%= link_to current_user.name %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete%></li>
      </ul>
    <% else %>
      <ul class="header-list-box">
        <li><%= link_to "新規ユーザー登録", new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
      </ul>
    <% end %>
  </div>
    <%= yield %>
  </body>
</html>
